*
{
    margin: 0;
    padding: 0;
    color: antiquewhite;
  
    
}

body

{
 height: 100vh;
 display: flex;
 
}
.menu
{
    width: 15%;
    height: 100%;
    background-color: #31304D;
    color: azure;
    border-right: 3px solid black;
   
   
    
}
.da_na
{
    padding-bottom: 50px;
    font-style: bold;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 40px;
}
.menuitems
{
    padding-bottom: 30px;
    font-size: 20px;
    padding-left: 40px;
}






.main_content
{
    width : 85%;
    height: 100%;
    
}
.header_bar{
    padding:30px;
    height: 10%;
    width: 95%;
    background-color: #31304D;
    
}
.search_bar {
    display: flex;
    height:10%;
    gap: 15px;
    
    
    }
.search{
    width: 50%;
    height: 25px;
    border-radius: 20px;
    background-color:#ADBC9F;
}
.bell{
    margin-left: 450px;
    color: antiquewhite;
}
.dp{
    display: flex;
    margin-top: -15px;
    margin-left: 5px;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    
}
.dp2
{
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    justify-content: center;
    width: 4em;
    height: 4em;
    border-radius:50%;
}
.font_size
{
    color:antiquewhite
}
.hi{
    position: absolute;
   
    margin-left: 80px;
    margin-top: -55px;
    font-size: 15px;
}
.name{
    position: absolute;
    margin-left: 80px;
    margin-top: -35px;
    font-size: 20px;
    display:flex;
}
.body_container
{
    height: 79%;
    width:97%;
    background-color: #161A30;
    display: flex;
    gap: 48%;
    padding-top: 20px;
    padding-left: 40px;
   

}
.box
{
    height: 100px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    background-color: #31304D;
    align-items: center;
    font-size: 15px;
    border-left: 12px solid #6C22A6;
     flex-wrap: wrap;
}
.main 
{
display: flex;
width: 100%;

}
.left
{
    font-style: bold;
    font-size: 25px;
     
}
.right
{
    font-style: bold;
    font-size: 25px;
}


    